PIC18/MPU6050/Examples/MPU6050_raw.X/dist/
PIC18/MPU6050/Examples/MPU6050_raw.X/nbproject/private/
PIC18/MPU6050/Examples/MPU6050_raw.X/build/
*~
/dsPIC30F/I2Cdev/I2CdevdsPic30F.X/nbproject/private/
/dsPIC30F/I2Cdev/I2CdevdsPic30F.X/dist/default/
/dsPIC30F/I2Cdev/testMCC.X/nbproject/private/
/dsPIC30F/MPU6050/Examples/MPU6050_example.X/nbproject/private/
/dsPIC30F/MPU6050/Examples/MPU6050_example.X/build/default/
/dsPIC30F/MPU6050/Examples/MPU6050_example.X/dist/default/